@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-yellow-600: 253, 220, 46, 1;
    --colour-yellow-800:197, 169, 29, 1;
    --colour-grey-background: 31, 41, 55, 1;
    --colour-grey-700: 55, 65, 81, 1;
    --colour-grey-400: 156, 163, 175, 1;
    --colour-grey-100: 243, 244, 246, 1;
  }
}

body {
  background: var(--colour-yellow-600,#FDDC2E);
  font-family: 'Plus Jakarta Sans', sans-serif;
}
